#header {
    background: rgb(108, 34, 166);
    color: #ffff
}

#branding h1{
    color: #ffffff;
}



div.breadcrumbs {
    background: rgb(105, 98, 173);
    padding: 10px 40px;
    border: none;
    color: #ffffff;
    text-align: left;
}


.login .submit-row {
    padding: 0px !important;
}

input[type="submit"],
input[type="button"],
.submit-row input{
    width: 100%;
    background:rgb(131, 192, 193)
}

.module h2, .module caption, .inline-group h2 {
    background:rgb(131, 192, 193)
    
}