{% extends "base.html" %}

{% block content %}

<div class="container mt-4 p-4">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'managebudget'%}">Manage Budget</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add expenses</li>
        </ol>
    </nav>

    <div class="card p-4">

        <div class="card-body">
            <form action="{%url 'add-managebudget' %}" method="post">

                {%include 'partials/_messages.html'%}

                {% csrf_token %}

                <div class="form-group">
                    <label for="">Amount</label>
                    <input type="number" class="form-control form-control-sm" name="amount">
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm" name="description">
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select name="category" class="form-control form-control-sm form-control">
                        {% for category in categories%}
                        <option name ="category" value="{{category.name}}">
                            {{category.name}}</option>
                        {%endfor%}

                    </select>
                </div>
                <div class="form-group">
                    <label for="">Date of Expense</label>
                    <input type="date" class="form-control form-control-sm" name="expense_date">
                </div>

                <div style="margin-bottom: 20px;"> <!-- Adjust the margin-bottom value as needed -->
                    <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm">
                </div>

            </form>
        </div>

    </div>

</div>

{% endblock content %}
