{% extends "base.html" %}


{% block content %}
<h2>manage Budget list</h2>

<ul class="list-group">
<li class="list-group-item"> Bought wine </li>
<li class="list-group-item"> Bought wine </li>
<li class="list-group-item"> Bought wine </li>
<li class="list-group-item"> Bought wine </li>
<li class="list-group-item"> Bought wine </li>
<li class="list-group-item"> Bought wine </li>
<li class="list-group-item"> Bought wine </li>
<li class="list-group-item"> Bought wine </li>

</ul>
{% endblock content %}
