{% extends "base_auth.html" %} 

{% load static  %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Please enter your email to get reset link</h4>
                    </div>

                    <form action="{% url 'request-password'%}" method="post">
                        {% csrf_token %}


                        {% include "partials/_messages.html" %}
 
 
                        <div class="mb-3">
                            <label for="emailField" class="form-label">Email</label>
                            
                            <input type="email" name="email" id="emailField" class="form-control" values="{{values.email}}" placeholder="Email">
                        </div>

                 
 
                        <button type="submit" class="btn btn-block btn-primary submit-btn">submit</button>

                    </form>

                </div>
                <div class="container">
                    <span class="text-lead lead"> Do you have an account ? </span> <a href="{% url 'login'%}">Login</a>
                    <br>
                    <span class="text-lead lead"></span>
                    <span> Dont have an account ? </span> <a href="{% url 'register'%}">Reset it</a>
                    </div>
            </div>

        </div>
    </div>
</div>

<script src="{% static 'js/register.js'%}"><script>

{% endblock %}
