{% extends "base_auth.html" %} 

{% load static  %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Set new password</h4>
                    </div>

                    <form action="{% url 'reset-user-password' uidb64 token%}" method="post">
                        {% csrf_token %}


                        {% include "partials/_messages.html" %}
 
 
                        

                        <div class="mb-3">
                            <label for="passwordField" class="form-label">Password</label>
                            <div class="input-group">
                                <input type="password" name="password" id="passwordField" class="form-control" placeholder="Password">
                                <button class="btn btn-outline-secondary showpassWordToggle" type="button" id="showPasswordBtn">Show</button>
                            </div>

                            <label for="passwordField" class="form-label">Password</label>
                            <div class="input-group">
                                <input type="password" name="password2" id="passwordField" class="form-control" placeholder="Confirm Password">
                                <button class="btn btn-outline-secondary showpassWordToggle" type="button" id="showPasswordBtn">Show</button>
                            </div>
                        </div>
                        

                        <div class = "invalid-feedback emailFeedBackArea" style="display:none">
                        </div>

                        <button type="submit" class="btn btn-block btn-primary submit-btn"> submit</button>

                    </form>

                </div>
                <div class="container">
                    <span class="text-lead lead"> No account ? </span> <a href="{% url 'register'%}">register</a>
                    <br>
                    <span class="text-lead lead"></span>
                    <span> have a account? </span> <a href="{% url 'login'%}">login</a>
                    </div>
            </div>

        </div>
    </div>
</div>

<script src="{% static 'js/register.js'%}"><script>

{% endblock %}
